chess pieces.v3i.yolov11
chess.v2i.yolov11
Chess.v3i.yolov11
Chess Board.v1-chess-board.yolov11
merged_dataset
project-6-at-2026-02-25-17-06-87cd7413
project-6-at-2026-02-25-17-06-87cd7413.zip
final_data_folder_pieces